<!DOCTYPE html>

<html>
{% load staticfiles %}
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>MinWeb - {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>        

        {% block head %}
        {% endblock %}
    </head>
    <body class="">
        {% include 'core/navbar.html' %}
        <div class="col-md-12 body_content">
            {% block body_content %}
            {% endblock %}
        </div>
    </body>
</html>