{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/jquery.lbslider.js' %}"></script>
{% endblock %}
{% block body_content %}
    {% for recommendation in recommendations %}
    <div class="col-md-12">
        <hr></hr>
        <h3>{{ recommendation.name }}</h3>
        <div class="slider_recommended slider">
            <ul>
                {% for movie in recommendation.movies %}
                    <li>
                        <a href="{% url 'core:movie_detail' movie.pk %}">
                            <img class="similar_movie" alt="{{ movie.title }}_profile_pic" src="{{ movie.poster_path }}">
                            <p>{{ movie.title }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="#" class="slider-arrow recommended_sa-left sa-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#" class="slider-arrow recommended_sa-right sa-right"><span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr></hr>
    </div>
    {% endfor %}
{% endblock %}
