{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/jquery.lbslider.js' %}"></script>

{% endblock %}
{% block body_content %}
    <form class="col-md-12">
        <div class="search_form form-group">
            <input type="text" class="form-control" id="movie_search" placeholder="Search Movies">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>

    <div class="col-md-12">
        <h3>Recomended for you</h3>
        <div class="slider_recommended slider">
            <ul>
                <li> Your Content 1 </li>
                <li> Your Content 2 </li>
                <li> Your Content 3 </li>
                <li> Your Content 4 </li>
                <li> Your Content 5 </li>
                <li> Your Content 6 </li>
                <li> Your Content 7 </li>
                <li> Your Content 8 </li>
                <li> Your Content 9 </li>
            </ul>
        </div>
        <a href="#" class="slider-arrow recommended_sa-left sa-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#" class="slider-arrow recommended_sa-right sa-right"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="col-md-12">
        <h3>Weekly top 10</h3>
        <div class="slider_top slider">
            <ul>
                <li> Your Content 1 </li>
                <li> Your Content 2 </li>
                <li> Your Content 3 </li>
                <li> Your Content 4 </li>
                <li> Your Content 5 </li>
                <li> Your Content 6 </li>
                <li> Your Content 7 </li>
                <li> Your Content 8 </li>
                <li> Your Content 9 </li>
            </ul>
        </div>
        <a href="#" class="slider-arrow top_sa-left sa-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#" class="slider-arrow left_sa-right sa-right"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

{% endblock %}
