{% extends 'core/base.html' %}
{% block title %}People - {{ object.name }}{% endblock %}
{% load staticfiles %}
{% block body_content %}
  <img alt="{{ object.name }}_profile_pic" src="{{ object.profile_path }}">
  <p><b>Name:</b> {{ object.name }} ({{ object.nickname }})</p>
  <p><b>Birthday:</b> {{ object.birthday }} - {{ object.deathday }}</p>
  <p><b>Place of Birth:</b> {{ object.place_of_birth }}</p>
  <p><b>Biography:</b> {{ object.biography }}</p>
  <p><b>Popularity:</b> {{ object.popularity }}</p>
{% endblock %}
