{% extends 'core/base.html' %}
{% block title %}People - {{ object.name }}{% endblock %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/star_rating.js' %}"></script>
    <script src="{% static 'js/movie_detail.js' %}"></script>
    <script src="{% static 'js/jquery.lbslider.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('span.stars').stars();
        });
    </script>
{% endblock %}
{% block body_content %}
<div class="col-lg-12">
    <img class="object_detail_img float_left"alt="{{ object.name }}_profile_pic" src="{{ object.profile_path }}">
    <div class="object_detail_data float_left">
        <h2><b>{{ object.name }}</b> {% if object.nickname %}({{ object.nickname }}){% endif %}</h2>
        <p><b>Born:</b> {{ object.birthday }}{% if object.place_of_birth %} in {{ object.place_of_birth }}{% endif %}</p>
        {% if object.deathday %}<p><b>Deceased:</b>{{ object.deathday }}</p>{% endif %}
        <p><b>Popularity:</b><span class="stars">{{ object.popularity }}</span></p>
        <p><b>Biography:</b> {% if object.biography %}{{ object.biography }}{% else %} This actor doesn't have a biography yet {% endif %}</p>
        <hr></hr>
        <div class="col-md-12">
            <h3>Appeard in</h3>
            <div class="slider_similar slider">
                <ul>
                    {% for movie in movies %}
                        <li>
                            <a href="{% url 'core:movie_detail' movie.pk %}">
                            <img class="similar_movie" alt="{{ movie.title }}_profile_pic" src="{{ movie.poster_path }}">
                            <p>{{ movie.title }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#" class="slider-arrow similar_sa-left sa-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a href="#" class="slider-arrow similar_sa-right sa-right"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>
{% endblock %}
